.landing {
  display: grid;
  grid-template-columns: 2fr 50ch 345px 2fr;
  grid-template-rows: auto;
  grid-template-areas: ". text image .";
}

@media (max-width: 800px) {
  .landing {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "text" "image";
    justify-content: center;
  }
}

article {
  padding-inline: 1rem;
  max-width: 50ch;
  font-size: 1.25em;
  grid-area: text;
  align-self: center;
}

.phone-figure {
  grid-area: image;
  max-width: 40ch;
  position: relative;
}
.phone-frame {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.phone-screenshot {
  position: absolute;
  max-width: 80%;
  top: 8%;
  left: 10%;
}

.creator {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 2rem;
}
.creator-logo {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  contain: strict;
  width: 160px;
  aspect-ratio: 80 / 16;
}

.text-overlay path {
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  transition: stroke-dashoffset 0.5s linear;
}

.creator-mark-monochrome,
.creator-mark-color {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.creator-mark-color {
  opacity: 0;
}

.creator:hover .creator-mark-monochrome {
  opacity: 0;
}
.creator:hover .creator-mark-color {
  opacity: 1;
}
.creator:hover .text-overlay path {
  stroke-dashoffset: 0;
}
